<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payments - VPN Manager</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <%- include('@navbar', { adminName: adminName }) %>

    <main class="flex-1 container mx-auto py-6 px-4">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Payments</h1>
      <%- include('@Admin/tabelPayments', { payments: payments }) %>
    </main>
    <script src="/js/payments.js"></script>
  </body>
</html>
